*{

    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 50px;
}

h1{
    font-size: 250%;
    margin: 0;
}

h2{
    font-size: 90%;
    margin: 0;
}

.flex-box{
    display: flex;
}

ul{
    list-style: none;
}

/*---------------HEADER-----------*/


.header{
    display: block;
    height: 20vh;
    width: 100%;
    background: linear-gradient(to bottom right,
    rgb(0, 68, 255),
    rgb(141, 109, 255));
    position: relative;
}

nav{
    height: 40px;
    background-color: #0f0f0f;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul{
    align-items: center;
    justify-content: center;
}

.nav-links li{
    display: block;
    margin: 0px 45px;
}

.underline-grow::after{
    display: block;
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);
    transition: transform .1s;
}

.nav-links a:link,
.nav-links a:visited{
    text-decoration: none;
    color: #fff;
}

.underline-grow:hover::after,
.underline-grow:active::after{
    border-bottom: solid 2px #fff;
    transform: scaleX(1);
}

/*--------------ARTICLE------------*/

.main-container{
    width: 60%;
    margin-left: 20%;
}

.title-box{
    margin: 50px 0 50px 0;
}

.article-box{
    flex: 3 1 75%;
    margin-right: 100px;
    margin-bottom: 300px;
}

.article-box h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0;
}

.article-box p{
    font-size: 110%;
    line-height: 160%;
    font-family: "Roboto", sans-serif;
}

.side-bar{
    display: flex;
    flex: 1 1 25%;
}

.link-box{
    width: 100%;
    margin-top: 180px;
    flex-direction: column;
}

.btn:link,
.btn:visited{
    font-family: "Roboto", sans-serif;
    color: #fff;
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 110%;
    text-decoration: none;
    margin-bottom: 30px;
   
}

.btn-blue{
   background: linear-gradient(to left, rgb(0, 140, 255) 50%, rgb(34, 155, 255)50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .3s ease-out;
}

.btn-blue:hover{
    background-position: bottom left;
}

.btn-image:link,
.btn-image:visited{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/img/coffee.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

.btn-image:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/resources/img/coffee.jpg");
    background-position-x: 100%;
    transition: background-position 10s linear;
}

/*--------------FOOTER-------------*/

#footer{
    background-color: #0f0f0f;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
}

.footer-nav{
    list-style: none;
    float: right;
    margin-right: 20%;
    margin-top: 10px;
}

.footer-nav li{
    display: inline-block;
    margin-right: 20px;
    font-size: 25px
}

.footer-nav a:link,
.footer-nav a:visited{
    color: #fff;
    
}